<ion-view view-title="Recuperar cuenta">

    <ion-content>
  
      <ion-list>
        
        <div id="recuperaar" class="list ">
  
          <label class="item item-input item-stacked-label   datalabel">
            <span class="input-label">correo2</span>
            <input type="text" placeholder="@gmail.com">
          </label>
          <button class="button button-full button-energized ">
            <i class="ion-ios-cloud"></i>
            Enviar
          </button>
  
        </div>
      </ion-list>
    </ion-content>
  </ion-view>