<ion-view view-title="Mi cuenta">
  <ion-content>
    <ion-list>
      <div class="list" id="inicio">
        <label class="item item-input item-stacked-label   datalabel">
          <span class="input-label">correo</span>
          <input type="text" id="emailI" placeholder="@gmail.com" maxlength="90">
          <p></p>
        </label>
        <label class="item item-input item-stacked-label  datalabel">
          <span class="input-label">Contraseña</span>
          <input type="password" id="passwordI" maxlength="90">
          <p></p>
        </label>
        <center>
          <button class="button button-full button-energized   " id="buttini" name="sesion">
            <i class="ion-key"></i>
            iniciar sesion
          </button>
        </center>


        <div id="imghijos"></div>
        <!--
<textarea id="textto"></textarea>
<button id="enviar">enviar</button>
-->
      </div>
    </ion-list>
  </ion-content>
</ion-view>
<script type="text/javascript" src="js/scriptPhp.js">
</script>