<ion-view view-title="noticias">
        <ion-nav-buttons side="left" >
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <a href="#/tab/dash" class="button button-icon  ion-chevron-left">
        </a>
      </ion-nav-buttons>
  <ion-content class="padding">



<div class="list card">

  <div class="item item-avatar">
    <img src="../../img/ben.png">
        <h2>carlos especialista en nutricion pediatra</h2>
    <p>junio 05, 2017</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="../../img/Dia_Nacional_Nutricion.jpg">
    <p>
La nutrición consiste en el aprovechamiento de las sustancias procedentes del exterior (nutrientes) y, a partir de ellas, renovar y conservar las estructuras del organismo y obtener la energía necesaria para desarrollar la actividad vital,1 manteniendo el equilibrio hemostático del organismo a nivel molecular y microscopista.

La nutrición es el proceso biológico en el que los organismos asimilan los alimentos y los líquidos necesarios para el funcionamiento, el crecimiento y el mantenimiento de sus funciones vitales. La nutrición también es el estudio de la relación que existe entre los alimentos, la salud y especialmente en la determinación de una dieta.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>

  </ion-content>


</ion-view>

<script type="text/javascript" src="../../js/cuenta.js"></script>