<ion-view view-title="Recuperar cuenta">

  <ion-content>

    <ion-list>
      <div style="width: 20%; height: 20%;">
        <img src="img/logo.ico" class="col col-20 col-offset-3">
      </div>
      <div id="recuperaar" class="list ">

        <label class="item item-input item-stacked-label   datalabel">
          <span class="input-label">correo</span>
          <input type="text" placeholder="@gmail.com">
        </label>
        <button class="button button-full button-energized ">
          <i class="ion-ios-cloud"></i>
          Enviar
        </button>

      </div>
    </ion-list>
  </ion-content>
</ion-view>