<ion-view view-title="tienda">
        <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <a href="#/tab/dash" class="button button-icon  ion-chevron-left">
        </a>
      </ion-nav-buttons>
  <ion-content class="padding">


<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>

  </ion-content>


</ion-view>

<script type="text/javascript" src="../../js/cuenta.js"></script>