<ion-view view-title="controles">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <a href="#/tab/chat-detail" class="button button-icon  ion-chevron-left">
    </a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="list">

      <label class="item item-input item-stacked-label  datalabel">
        <span class="input-label">Estatura cm</span>
        <input type="text" id="estaturahijo">
        <br>
        <p></p>
      </label>

      <label class="item item-input item-stacked-label  datalabel">
        <span class="input-label">Peso kg</span>
        <input type="text" id="pesokghijo">
        <br>
        <p></p>
      </label>

      <label class="item item-input item-stacked-label  datalabel item-select">
        <div class="input-label">
          Ejercicio
        </div>
        <div id="ejerciciohijo">
        </div>
      </label>
      <p id="mensaje"></p>
      <p id="mensaje2"></p>
      <label class="item">
        <button class="button button-block button-energized" type="submit" id="calculoimc">Guardar</button>
      </label>
    </div>

  </ion-content>

</ion-view>


<script type="text/javascript" src="../../js/hijo.js"></script>