<ion-view view-title="chat">
        <ion-nav-buttons side="left" >
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <a href="#/tab/perfilchat" class="button button-icon  ion-chevron-left">
        </a>
      </ion-nav-buttons>
  <ion-content class="padding">

<div class="list">
<!--
    <a class="item item-avatar" href="templates/tab-chatear.html">
      <img src="../../img/adam.jpg">
      <h2>Venkmanaa</h2>
      <p>Back off, man. I'm a scientist.</p>
    asdasdsad
    </a>
-->
<div id="users_list" class="clearfix"></div>
</div>
              


  </ion-content>


</ion-view>

<script type="text/javascript" src="../../js/cuenta.js"></script>
