
        
         ion-content {
background-color:white;


}
.datalabel{

	background-color:white
}


#img{

	background-color: white;
}
  .img-circle-niños8 {
    border-radius: 100%;
    width:80%;
    display:block; text-align:center;
}  

